<div class="jumbotron">
    <div class="container">
        <div class="col-md-12 welcome-container">
            <h1>De praktijk</h1>
            <p>Kindercoach praktijk “doorWilskracht” is een aan huis gevestigde praktijk te Rijswijk. De sfeer is veilig en vertrouwd. Kinderen voelen zich snel op hun gemak in de gezellige ruimte.</p>
            <p> Er wordt gebruik gemaakt van verschillende materialen, zoals: klei, verf, wasco, maar ook spelletjes en lego. Dit alles heeft tot doel uw kind uit te nodigen om zijn gevoelens te uiten en op zoek te gaan naar de kracht in zichzelf.</p>
            <p> Helaas is er geen wachtruimte voor de ouders aanwezig. Wanneer u niet bij de sessie aanwezig bent, spreken we af hoe laat u het kind weer op kunt halen.</p>
        </div>
    </div>
</div>
