<div class="jumbotron">
    <div class="container">
        <div class="col-md-12 welcome-container">
            <h1>Wat kost Kindercoaching?</h1>
            <p>Het aantal sessies waaruit een coachtraject bestaat varieert meestal tussen de 3 á 5 keer. Dit is sterk afhankelijk van de hulpvraag waarmee u uw kind aanmeldt. Eigen betrokkenheid en de inzet van het kind spelen hierbij een rol. Afspraken kunnen tot 24 uur van te voren kosteloos worden afgezegd.</p>
            <h4>De kosten</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>Intakegesprek</p></td>
                            <td>€ 50,00,-</td>
                        </tr>
                        <tr>
                            <td><p>Coachingsessie</p></td>
                            <td>€ 50,00,- per uur</td>
                        </tr>
                        <tr>
                            <td><p>Evaluatiegesprek</p></td>
                            <td>€ 50,00,-</td>
                        </tr>
                         <tr>
                            <td><p>Telefonischgesprek</p></td>
                            <td>€ 25,00,- per half uur</td>
                        </tr>
                            <tr>
                            <td><p>Schiftelijke verslag coachings traject</p></td>
                            <td>€ 50,00,-</td>
                        </tr>
                    </tbody>
                </table>
                <p>Deze bedragen zijn inclusief 21% btw en materialen</p>
            </div>
        </div>
    </div>
</div>
