<div class="jumbotron">
    <div class="container">
        <div class="col-md-12 welcome-container">
            <h3>Wat kost Kindercoaching?</h3>
            <p>Het aantal sessies waaruit een coachtraject bestaat varieert meestal tussen de 5 á 10 keer. Dit is sterk afhankelijk van de hulpvraag waarmee u uw kind aanmeldt. Eigen betrokkenheid en de inzet van het kind spelen hierbij een rol.</p>
            <h4>De kosten</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>Intakegesprek</p></td>
                            <td>€60,00</td>
                        </tr>
                        <tr>
                            <td><p>Coachingsessie</p></td>
                            <td>€60,00</td>
                        </tr>
                        <tr>
                            <td><p>Evaluatiegesprek</p></td>
                            <td>€60,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
