<div class="col-sm-5">
    <div id="footerwrap">
        <p>© DoorWilskracht kindercoaching</p>
    </div>
</div>
<div class="col-sm-7 hidden-xs">
    <div id="footerwrap">
    <ul class="pull-right">
        <li ng-class="{'active' : tab.isSet('home')}">
                <a href="#home" ng-click="tab.setTab('home')">Home</a>
              </li>
              <li ng-class="{'active' : tab.isSet('about')}">
                <a href="#about" ng-click="tab.setTab('about')">doorWilskracht</a>
              </li>
               <li ng-class="{'active' : tab.isSet('wut')}">
                <a href="#wut" ng-click="tab.setTab('wut')">Wat is KinderCoaching?</a>
              </li>
              <li ng-class="{'active' : tab.isSet('werkwijze')}">
                <a href="#werkwijze" ng-click="tab.setTab('werkwijze')">Werkwijze</a>
              </li>
              <li ng-class="{'active' : tab.isSet('')}">
                <a href ng-click="tab.setTab(4)">Kosten</a>
              </li>
              <li ng-class="{'active' : tab.isSet('contact')}">
                <a href="#contact" ng-click="tab.setTab('contact')">Contact</a>
              </li>
        </ul>
    </div>
</div>
