<div class="jumbotron">
    <div class="container">
        <div class="container-slider hidden-xs">
            <div class="slide" ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)">
                <img ng-src="{{slide.image}}" />
                <div class="description">{{slide.description}}</div>
            </div>
            <nav class="nav">
                <div class="wrapper">
                    <ul class="dots">
                        <li class="dot" ng-repeat="slide in slides">
                            <a href ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-8 welcome-container">
            <h3>Even voorstellen….</h3>
            <p>Mijn naam is Wilma van der Helm, getrouwd en trotse moeder van 3 volwassen kinderen. Vanaf mijn 19e werk ik in het onderwijs. De eerste jaren op basisscholen in Den Haag en de laatste jaren in Rijswijk. Ik heb mijn ervaring in alle groepen opgedaan.</p>
            <p>Tijdens mijn jaren voor de klas heb ik gemerkt, dat kinderen soms te maken kunnen krijgen met situaties of problemen waar je als ouders om uiteenlopende redenen geen grip op kunt krijgen. Je kind kan zich boos, verdrietig, angstig of niet begrepen voelen. Als leerkracht wil je aandacht besteden aan het emotioneel welbevinden van het kind, maar binnen de groep zijn daar niet altijd voldoende mogelijkheden toe.</p>
            <p>Tijdens de lessen sociaal-emotionele ontwikkeling merkte ik dat kinderen graag wilden praten over hun gedachten en gevoelens. Ook ging ik na schooltijd of in pauzes regelmatig met kinderen in gesprek. Dan ervaarde ik dat kinderen het heerlijk vinden om ongestoord met hun juf te kunnen praten en even extra aandacht te krijgen.</p>
            <p>Omdat ik mij graag verder wilde ontwikkelen en om de kinderen beter te kunnen begeleiden, ben ik de basistraining en daarna de opleiding tot kindercoach gaan volgen. Om mij te specialiseren in pesten heb ik de training Pesten Buiten Westen gedaan. Daarnaast ben ik ook coach-opleider binnen de basisschool. Hierbij begeleid en coach ik aankomende leerkrachten.</p>
        </div>
        <div class="col-md-4 news-container">
            <div class="welcome-pic hidden-sm">
                <img class="img-responsive" src="img/welkom.jpg" alt="welkom">
            </div>
        </div>
    </div>
</div>
