<div class="jumbotron">
    <div class="container">
        <div class="col-md-8 welcome-container">
            <h3>Hoe werk ik?</h3>
            <p>Nadat wij telefonisch een afspraak hebben gemaakt ontvangt u van mij digitaal een formulier. Deze vult u zo uitgebreid mogelijk in. Hierna volgt een intake gesprek met de ouders. Tijdens dit gesprek bekijken we wat de hulpvraag is en wat de coaching mogelijkheden binnen de praktijk “doorWilskracht” zijn.</p>
            <p> Vervolgens kunnen we de eerste sessie starten. Meestal duurt een traject drie tot vijf weken. Een sessie duurt één uur en vindt één keer per week plaats, waarin er contact met de ouders plaatsvindt. We bespreken dan hoe de sessie is verlopen en wat u als ouder kunt doen om uw kind te ondersteunen. Het is mogelijk dat u als ouder uitgenodigd wordt om verder met mij in gesprek te gaan.</p>
        </div>
    </div>
</div>
