<div class="jumbotron">
    <div class="container">
        <div class="col-md-12 welcome-container">
            <h1>Wat is kindercoaching?</h1>
            <p>KKindercoaching is het tijdelijk begeleiden van kinderen met een probleem of hulpvraag. Dat kan zijn op het gebied van opvoeding, leren, gedrag, of op sociaal-emotioneel vlak.</p>
            <p> Als kindercoach werk ik oplossingsgericht en help kinderen op een positieve wijze bij het (her)ontdekken van hun eigen kwaliteiten en unieke mogelijkheden. Ik gebruik mijn kennis, intuïtie en ervaring om samen met het kind op een persoonlijke ontdekkingstocht te gaan naar een oplossing die in het kind zelf verborgen ligt. Dit alles gebeurt op een speelse en creatieve manier.</p>
            <p>Plezier, respect, vertrouwen, veiligheid en humor zijn hierbij belangrijke uitgangspunten.</p>
        </div>
    </div>
</div>
